<div class="message">
  <div class="upper-message">
    <div class="message-user">
      <% if users_signed_in? %>
        <%= message.users.nickname %>
      <% elsif advisers_signed_in? %>
        <%= message.advisers.nickname %>
      <% end %>
    </div>
    <div class="message-date">
      <%= l message.created_at %>
    </div>
  </div>
  <div class="lower-message">
    <div class="message-content">
      <%= message.content %>
    </div>
    <%= image_tag message.image.variant(resize: '500x500'), class: 'message-image' if message.image.attached? %>
  </div>
</div>